<div>
  <div class="container">
    <div>
      <label for="userName">User Name</label>
      <input type="text"
             id="userName"
             [(ngModel)]="userName" />
    </div>
    <form (ngSubmit)="sendMessage()"
          #chatForm="ngForm">
      <div>
        <label for="message">Message</label>
        <input type="text"
               id="message"
               name="message"
               [(ngModel)]="message"
               required />
      </div>
      <button type="submit"
              id="sendmessage"
              [disabled]="!chatForm.valid">
        Send
      </button>
    </form>
  </div>

  <div class="container"
       *ngIf="messages.length > 0">
    <div *ngFor="let message of messages">
      <span>{{message}}</span>
    </div>
  </div>

</div>