.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
    
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    flex: 1;
  }

  .toggle-menu-icon-btn {
    height: 48px;
    width: 48px;
  }

  .toggle-menu-icon-btn img {
    height: 100%;
    width: 100%;
  }

  .sidenav-menu {
    min-width: 250px
  }

  .sidenav-menuitem-text {
    margin-left: 10px
  }
  